<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <form role="form" class="form-inline"> 
        <div class="form-group has-feedback has-feedback-left">
          <label class="control-label sr-only">Username</label>
          <div class="inline-feedback">
            <input type="text" class="form-control" placeholder="Username" />
            <i class="form-control-feedback fa fa-user"></i>
          </div>
        </div>
      </form>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-secondary">Log In</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-primary">Sign Up</button>
        </li>
        <li class="nav-item dropdown">
          
        </li>
      </ul>
    </div>
  </nav>